<div class="container text-center mt-5 border border-2" style="width:40%;">
    <h2>Login Page</h2>
    <hr>
    <form [formGroup]="loginRef" (ngSubmit)="signIn()">
        <label>Email Id :- </label>
        <input type="email" id = "n1" formControlName="emailid"/>
        <br/>
        <label>Password :- </label>
        <input type="password" id = "n2" formControlName="password"/><br/>
        <label>Type Of User :- &nbsp;&nbsp;</label>
        <input type="radio" name="typeOfUser" value="admin" formControlName="typeOfUser"/>admin
        <input type="radio" name="typeOfUser" value="user" formControlName="typeOfUser"/>user<br/>
        <br/>
        <input type="submit" value="Login"/>
        
        <input type="reset" value="reset"/>
    </form>
    <br/>
    <span style="color:red">{{msg}}</span>
</div>
