<!-- 
<div class="container-fluid bg-dark text-white text-center" style="height: 45px;">
    <p>Copyright @2022 By :- Varniraj Service PVT. LTD </p>
</div> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-success">
   
    <div class="collapse navbar-collapse " id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link active" routerLink="home"><strong>Home</strong></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link " routerLink="login"><strong>SignIn</strong></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link " routerLink="signup"><strong>SignUp</strong></a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>